<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528282762903-po6qqa53di3r9i8dhf63fgq4ggp539vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528282762903-po6qqa53di3r9i8dhf63fgq4ggp539vp</string>
	<key>API_KEY</key>
	<string>AIzaSyC_wCPXaWqZu5_FhntcOENAL8_5Sj2XNgg</string>
	<key>GCM_SENDER_ID</key>
	<string>528282762903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TeamPdf.GOYO</string>
	<key>PROJECT_ID</key>
	<string>goyo-pdfyangpa</string>
	<key>STORAGE_BUCKET</key>
	<string>goyo-pdfyangpa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528282762903:ios:1ef7ef13e7ae105f9b73d2</string>
</dict>
</plist>