<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296557272623-e80q1r69eipkvh8ihq65325t4nkejnkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296557272623-e80q1r69eipkvh8ihq65325t4nkejnkb</string>
	<key>API_KEY</key>
	<string>AIzaSyCOgf3hh4tnRjHOls2t7TV2-N6nGvLiddw</string>
	<key>GCM_SENDER_ID</key>
	<string>296557272623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TeamPdf.GOYO</string>
	<key>PROJECT_ID</key>
	<string>goyo-pdf</string>
	<key>STORAGE_BUCKET</key>
	<string>goyo-pdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:296557272623:ios:9651534e01c8c78f9f70da</string>
</dict>
</plist>
